# dependencies
/node_modules

# misc
.vscode
.idea
.DS_Store

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# builds
dist/

# cypress
cypress/videos
cypress/screenshots
